
<div *ngIf="personaje != null" class="contPersonaje position-fixed top-0 start-0 end-0 bottom-0 d-flex align-items-center justify-content-center">
    <div class="rounded tarjeta container">
        <!-- Boton para cerrar la ventana -->
        <button class="btn btn-danger position-absolute end-0 m-1" (click)="cerrar()">X</button>

        <div class="row infoPersonaje p-5 p-md-5">
            <div class="col col-6 col-md-4">
                <img src="{{personaje.image}}" alt="">
            </div>
            <div class="col col-12 col-md-8">
                <h4>{{personaje.name}}</h4>
                <!-- {{seleccionado |json}} -->
                <p><strong>Id:</strong> {{personaje.id}}</p>
                <p><strong>Status:</strong> {{personaje.status}}</p>
                <p><strong>Species:</strong> {{personaje.species}}</p>
                <p><strong>Gender:</strong> {{personaje.gender}}</p>
                <p><strong>Origin:</strong> {{personaje.origin.name}}</p>
                <p><strong>Location:</strong> {{personaje.location.name}}</p>
            </div>
        </div>
    </div>
    
</div>