
<div class="fondoLogin">

    <div class="container p-5">

        <div class="row justify-content-center mt-5">
            <div class="col col-md-6 contenedorLogin pt-3 rounded-top">
                <h2>Iniciar sesión</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-md-6 contenedorLogin py-3 rounded-bottom">
                <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                    </div>
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </div>
                </form>
                
                <div class="col d-grid">
                    <button type="submit" class="btn btn-outline-primary mt-3" (click)="iniciarGoogle()">Iniciar sesión con Google</button>
                </div>
    
            </div>
        </div>
        
    </div>
</div>