<app-nav></app-nav>

<!-- MIS PERSONAJES -->
<div class="container mt-4">
    <h2>Mis personajes</h2>

    <!-- Boton crear personaje -->
    <div class="row">
        <div class="col col-12 d-grid d-md-block">
            <button type="button" class="btn btn-primary btn-lg mt-3" (click)="agregar()">Crear personaje</button>
        </div>
    </div>

    <div class="row row-cols-4 justify-content-center" *ngIf="misPersonajes!=null; else espera">
        <div *ngFor="let personaje of misPersonajes" class="card cartaPersonaje mt-4 mx-3">
            <img src="{{personaje.image}}" alt="" class="card-img-top">

            <div class="d-grid gap-2 contTitulo">
                <h4 class="m-2">{{personaje.name}}</h4>
                <button class="btn btn-info" (click)="editar(personaje.id)">Ver / Editar</button>
                <button class="btn btn-danger" (click)="eliminar(personaje.id)">Eliminar</button>

            </div>
            
        </div>
    </div>
</div>

<!-- PERSONAJES RANDOM -->
<div class="container mt-4">
    <h2>Personajes random</h2>
    <div class="row row-cols-4 justify-content-center" *ngIf="personajes!=null; else espera">
        <div *ngFor="let personaje of personajes" class="card cartaPersonaje mt-4 mx-3">
            <img src="{{personaje.image}}" alt="" class="card-img-top">

            <div class="d-grid gap-2 contTitulo">
                <h4 class="m-2">{{personaje.name}}</h4>
                <button class="btn btn-warning" (click)="seleccionar(personaje.id)">See more</button>
            </div>
            
        </div>
    </div>
</div>

<ng-template #espera>Esperando datos...</ng-template>
    

<app-pers [personaje]="personaje"></app-pers>
<app-editar [personaje]="miPersonaje" (persEditado)="alEditar($event)"></app-editar>
<app-crear [abierto]="ventanaCrear" (persCreado)="alCrear($event)"></app-crear>