
<div class="fondoLogin">

    <div class="container p-5">

        <div class="row justify-content-center mt-5">
            <div class="col col-md-6 contenedorLogin pt-3 rounded-top">
                <h2>Crear cuenta</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-md-6 contenedorLogin py-3 rounded-bottom">
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
    
            </div>
        </div>
        
    </div>
</div>